.vs/Standard.Stock/DesignTimeBuild/.dtbcache.v2
Standard.Stock.Application/obj/project.assets.json
Standard.Stock.Application/obj/
Standard.Stock.Infrastructure/obj/project.assets.json
Standard.Stock.Infrastructure/obj/Standard.Stock.Infrastructure.csproj.nuget.dgspec.json
Standard.Stock.Infrastructure/obj/Standard.Stock.Infrastructure.csproj.nuget.g.props
Standard.Stock.Infrastructure/obj/Standard.Stock.Infrastructure.csproj.nuget.g.targets
Standard.Stock.Infrastructure/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Standard.Stock.Infrastructure/obj/Debug/netstandard2.0/Standard.Stock.Infrastructure.AssemblyInfo.cs
Standard.Stock.WebApi/obj/project.assets.json
Standard.Stock.WebApi/obj/Standard.Stock.csproj.nuget.dgspec.json
Standard.Stock.WebApi/obj/Standard.Stock.csproj.nuget.g.props
Standard.Stock.WebApi/obj/Standard.Stock.csproj.nuget.g.targets
Standard.Stock.WebApi/obj/Standard.Stock.WebApi.csproj.nuget.dgspec.json
Standard.Stock.WebApi/obj/Standard.Stock.WebApi.csproj.nuget.g.props
Standard.Stock.WebApi/obj/Standard.Stock.WebApi.csproj.nuget.g.targets
Standard.Stock.WebApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Standard.Stock.WebApi/obj/Debug/netcoreapp3.1/Standard.Stock.AssemblyInfo.cs
Standard.Stock.WebApi/obj/Debug/netcoreapp3.1/Standard.Stock.WebApi.AssemblyInfo.cs
/Standard.Stock.Application/bin/Debug/netstandard2.0
/Standard.Stock.Event/bin/Debug/netstandard2.0
/Standard.Stock.Event/obj
/Standard.Stock.Domain/bin/Debug/netstandard2.0
/Standard.Stock.Domain/obj/Debug/netstandard2.0
/Standard.Stock.Domain/obj
/Standard.Stock.WebApi/bin/Debug/netcoreapp3.1
/Standard.Stock.WebApi/obj
/Standard.Stock.Infrastructure/obj
/Standard.Stock.Infrastructure/bin/Debug/netstandard2.0
/Standard.Stock.Event/lib
/obj
/bin/Debug
